# check whether all the western drugs existed in the data

In [1]:
import pandas as pd

ddi_df = pd.read_csv('processed/ddi.csv')

In [2]:
node_map_df = pd.read_csv('processed/node_map.csv')
nodemap2name_dict = {row['map']: row['node'] for _, row in node_map_df.iterrows()}

In [3]:
drug_with_ddi = list(set(ddi_df['drug_1']) | set(ddi_df['drug_2']))
drug_with_ddi = [nodemap2name_dict[i] for i in drug_with_ddi]

In [4]:
tcm_drug_df = pd.read_excel('tcm/drugs.xlsx')
western_drug_df = tcm_drug_df[tcm_drug_df['category'] == 'w']
western_drug_list = list(set(western_drug_df['drug-DrugBank']))

In [5]:
for drug in western_drug_list:
    if drug not in drug_with_ddi:
        print(drug)

DB00874
DB09019

# statistics

In [3]:
import pandas as pd
ddi_df = pd.read_csv('ddi.csv')
ddi_df.head()

     drug1    drug2      type  severity  label
0  DB00051  DB12001  negative     Major     -4
1  DB00087  DB12001  negative  Moderate     -3
2  DB00092  DB12001  negative  Moderate     -3
3  DB00357  DB12001  negative  Moderate     -3
4  DB01351  DB12001  negative  Moderate     -3

In [4]:
print(len(ddi_df[ddi_df['type']=='negative']))

592986

In [5]:
n_ddi_df = ddi_df[ddi_df['type']=='negative']
drug_n_ddi_list = list(set(n_ddi_df['drug1']) | set(n_ddi_df['drug2']))
print(len(drug_n_ddi_list))

4289

# Statistics

In [1]:
import pandas as pd

ddi_df = pd.read_excel('ddi.xlsx')
ddi_df.head()

,Unnamed: 0,Unnamed: 0.1,DrugBank ID1,DrugBank ID2,Label,Entrez1,Entrez2
0,0,0,DB00004,DB00005,Negative,3559,2215
1,24,24,DB00008,DB00005,Negative,3455,2215
2,48,48,DB00022,DB00005,Negative,3455,2215
3,96,96,DB00041,DB00005,Negative,3559,2215
4,160,160,DB00051,DB00005,Negative,7124,2215